# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# Project-specific temporary files
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
**/doc/api/
**/ios/Flutter/.last_build_id
*.lock

# Obfuscation & Symbolication related
app.*.symbols
app.*.map.json

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# IDEs

## IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

## VS Code
.vscode/

# macOS
.DS_Store
